:root{
    --base-bgcolor: #fff;
    --content-bgcolor: #fff;

    --font-base-color: #58534F;
    --font-sub-color: #80736b;

    --pc-screen-width: 980px;
}

*{
    color: var(--font-base-color);
    font-size: 16px;
}

body{
    margin: 0;
    background-color: var(--base-bgcolor);
    box-sizing: border-box;
}

h2{
    font-size: 32px;
    border-left: 12px solid greenyellow;
    border-bottom: 1px solid greenyellow;
}

.content{
    width: var(--pc-screen-width);
    min-height: 200%;
    margin: 0 auto;
    background-color: var(--content-bgcolor);
}

.main{
    padding: 24px;
    margin-top: 64px;
    border: 1px solid #ddd;
    border-radius: 12px;
}

.header{
    width: var(--pc-screen-width);
    height: 72px;

    margin: 12px;

    & .hero{
        height: 72px;

        padding-left: 72px;

        line-height: 72px;

        background-image: url("../../images/icons/official_white.png");
        background-size: 72px;
        background-repeat: no-repeat;

        & a{
            font-size: 48px;
            text-decoration: none;
        }
    }
}

.global-nav{
    width: 97%;

    position: sticky;
    top: 8px;

    margin: 0 auto;

    background-color: var(--base-bgcolor);
    border: 1px solid #ddd;
    border-radius: 16px;

    z-index: 100;

    & ul{
        padding-left: 24px;
        list-style: none;

        & li{
            display: inline-block;

            & a{
                display: block;

                padding: 8px;
                margin-left: 24px;

                text-decoration: none;

                border-bottom: 2px solid #ddd;

                transition: 0.5s;

                &:hover{
                    scale: 1.1;
                    border-bottom: 2px solid green;
                }
            }
        }
    }
}

@media screen and(max-width: var(--pc-screen-width)){
    *{
        max-width: 100%;
    }
}